.picture {
	display: inline-block;
	margin: 0 auto;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.bulletless {
	list-style-type: none;
}

.center {
	margin: 0 auto;
}

.photo {
	display: block;
	margin: 0 auto;
}

.iconPadding {
	padding: 2px;
}
